In [92]:
import pandas as pd

In [93]:
# set the max number of rows to display in a dataframe
# Alternative --> pd.set_option("display.max_rows", 6)
pd.options.display.max_rows = 6

In [94]:
# displays the max number of rows in a dataframe
# Alternative --> pd.get_option("display.max_rows")
pd.options.display.max_rows

6

In [95]:
df = pd.read_csv('datasets/diabetes.csv', nrows=10)

In [104]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.63,50,1
1,1,85,66,29,0,26.6,0.35,31,0
2,8,183,64,0,0,23.3,0.67,32,1
...,...,...,...,...,...,...,...,...,...
7,10,115,0,0,0,35.3,0.13,29,0
8,2,197,70,45,543,30.5,0.16,53,1
9,8,125,96,0,0,0.0,0.23,54,1

In [105]:
# set the max number of columns to display in a dataframe
# Alternative --> pd.set_option("display.max_columns", 4)
pd.options.display.max_columns = 4

In [106]:
# displays the max number of columns in a dataframe
# Alternative --> pd.get_option("display.max_columns")
pd.options.display.max_columns

4

In [107]:
df

    Pregnancies  Glucose  ...  Age  Outcome
0           6        148  ...   50        1
1           1         85  ...   31        0
2           8        183  ...   32        1
..        ...        ...  ...  ...      ...
7          10        115  ...   29        0
8           2        197  ...   53        1
9           8        125  ...   54        1

[10 rows x 9 columns]

In [86]:
# set the column width in a dataframe
# Alternative --> pd.set_option("display.max_colwidth", 10)
pd.options.display.max_colwidth = 10

In [87]:
# displays the column width in a dataframe
# Alternative --> pd.get_option("display.max_colwidth")
pd.options.display.max_colwidth

10

In [88]:
# Columns containing floats display too many floating points
# Alternative --> pd.get_option("display.precision")
pd.options.display.precision

2

In [98]:
df[['DiabetesPedigreeFunction']]

    DiabetesPedigreeFunction
0       0.627
1       0.351
2       0.672
..        ...
7       0.134
8       0.158
9       0.232

[10 rows x 1 columns]

In [99]:
# Alternative --> pd.set_option("display.precision", 2)
pd.options.display.precision = 2

In [100]:
df[['DiabetesPedigreeFunction']]

    DiabetesPedigreeFunction
0        0.63
1        0.35
2        0.67
..        ...
7        0.13
8        0.16
9        0.23

[10 rows x 1 columns]