In [119]:
import pandas as pd
import numpy as np
# dataset is taken from Kaggle website (https://www.kaggle.com/saurabh00007/diabetescsv)

In [120]:
df = pd.read_csv('./datasets/diabetes.csv')

In [121]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [122]:
# Add summary rows 
df.loc['ROW_SUM'] = df.apply(lambda x: x.sum())
df.loc['ROW_AVG'] = df.apply(lambda x: x.mean())
df.loc['ROW_MAX'] = df.apply(lambda x: x.max())
df.loc['ROW_MIN'] = df.apply(lambda x: x.min())

In [123]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

In [124]:
df.loc[['ROW_SUM']]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
ROW_SUM,2953.0,92847.0,53073.0,15772.0,61286.0,24570.3,362.401,25529.0,268.0

In [125]:
df.loc[['ROW_AVG']]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
ROW_AVG,7.680104,241.474642,138.031209,41.019506,159.391417,63.901951,0.942525,66.395319,0.697009

In [126]:
df.loc[['ROW_MIN']]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
ROW_MIN,0.0,0.0,0.0,0.0,0.0,0.0,0.078,21.0,0.0

In [127]:
df.loc[['ROW_MAX']]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
ROW_MAX,2953.0,92847.0,53073.0,15772.0,61286.0,24570.3,362.401,25529.0,268.0

In [128]:
# add summary column
df['COLUMN_SUM']  = df.apply(lambda x: x.sum(), axis=1)

In [129]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,COLUMN_SUM
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0,346.227
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0,238.951
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0,311.972
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0,322.267
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0,459.388