In [52]:
import pandas as pd

In [53]:
left = pd.DataFrame({"key": ["key1", "key2", "key3", "key4"], "value_L": [1, 2, 3, 4]})

In [54]:
right = pd.DataFrame({"key": ["key3", "key2", "key1", "key5"], "value_R": [3, 2, 1, 5]})

In [55]:
left.head()

    key  value_L
0  key1        1
1  key2        2
2  key3        3
3  key4        4

In [56]:
right.head()

    key  value_R
0  key3        3
1  key2        2
2  key1        1
3  key5        5

In [57]:
df_merge_left = left.merge(right, on='key', how='left', indicator=True)

In [58]:
df_merge_left

    key  value_L  value_R     _merge
0  key1        1      1.0       both
1  key2        2      2.0       both
2  key3        3      3.0       both
3  key4        4      NaN  left_only

In [59]:
df_merge_right = left.merge(right, on='key', how='right', indicator=True)

In [60]:
df_merge_right

    key  value_L  value_R      _merge
0  key1      1.0        1        both
1  key2      2.0        2        both
2  key3      3.0        3        both
3  key5      NaN        5  right_only